

body {
    background: #ddd url('binary_background.png');
    margin: 50px;
}


p {
    width: 80%;
}


#banner {
    background: #555;
    top: 0;
    width: 90%;
    height: 10rem;
    padding: 5%;
}

#banner h1 {
    font-family: "Courier New", Courier, monospace;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
}

